In [3]:
import pandas as pd
df = pd.read_csv(r'C:\Users\rajat.prakash\Desktop\Remote_repo\Data\Data_Analysis\Files\store_sales.csv')
df.head(5)

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13

In [9]:
# Calculate the avg sales for Jan month

sales = df['Jan'].mean()
sales

14.46

In [10]:
df.apply('mean')

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64