In [13]:
import pandas as pd
df = pd.read_csv(r'C:\Users\rajat.prakash\Desktop\Remote_repo\Data\New folder\Uber Drives 2016.csv')

In [15]:
df.head(5)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [34]:
filtered_data = df[(df['MILES*']>10) & (df['START*'] == 'New York')][['START_DATE*','END_DATE*','START*','PURPOSE*','MILES*']]
filtered_data

         START_DATE*        END_DATE*    START* PURPOSE*  MILES*
10   1/10/2016 15:08  1/10/2016 15:51  New York  Meeting    10.8
22   1/12/2016 16:02  1/12/2016 17:00  New York  Meeting    15.1
106  2/14/2016 16:35  2/14/2016 17:02  New York  Meeting    13.0
423  6/10/2016 15:19  6/10/2016 16:28  New York  Meeting    16.3

In [43]:
Start_date_filtered = df[(df['START_DATE*']  str('1/3/2016')) & (df['START_DATE*'] < str('1/5/2016'))]
Start_date_filtered

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
59,1/30/2016 16:21,1/30/2016 16:33,Business,Cary,Apex,5.7,Errand/Supplies
60,1/30/2016 18:09,1/30/2016 18:24,Business,Apex,Cary,5.7,Customer Visit