In [17]:
import pandas as pd

df = pd.read_csv(r'C:\Users\rajat.prakash\Desktop\Remote_repo\Data\Data_Analysis\Stack Data\survey_results_public.csv')

### Previous Day Revision

In [6]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'Age', 'Age1stCode', 'CompFreq',
       'CompTotal', 'ConvertedComp', 'Country', 'CurrencyDesc',
       'CurrencySymbol', 'DatabaseDesireNextYear', 'DatabaseWorkedWith',
       'DevType', 'EdLevel', 'Employment', 'Ethnicity', 'Gender', 'JobFactors',
       'JobSat', 'JobSeek', 'LanguageDesireNextYear', 'LanguageWorkedWith',
       'MiscTechDesireNextYear', 'MiscTechWorkedWith',
       'NEWCollabToolsDesireNextYear', 'NEWCollabToolsWorkedWith', 'NEWDevOps',
       'NEWDevOpsImpt', 'NEWEdImpt', 'NEWJobHunt', 'NEWJobHuntResearch',
       'NEWLearn', 'NEWOffTopic', 'NEWOnboardGood', 'NEWOtherComms',
       'NEWOvertime', 'NEWPurchaseResearch', 'NEWPurpleLink', 'NEWSOSites',
       'NEWStuck', 'OpSys', 'OrgSize', 'PlatformDesireNextYear',
       'PlatformWorkedWith', 'PurchaseWhat', 'Sexuality', 'SOAccount',
       'SOComm', 'SOPartFreq', 'SOVisitFreq', 'SurveyEase', 'SurveyLength',
       'Trans', 'UndergradMajor', 'WebframeDesireNextYear',
       'WebframeWorkedWith', 'WelcomeChange', 'WorkWeekHrs', 'YearsCode',
       'YearsCodePro'],
      dtype='object')

In [8]:
df.shape

(64461, 61)

In [11]:
df.iloc[1:7,4:8]

  Age1stCode CompFreq  CompTotal  ConvertedComp
1         19      NaN        NaN            NaN
2         15      NaN        NaN            NaN
3         18      NaN        NaN            NaN
4         16      NaN        NaN            NaN
5         14      NaN        NaN            NaN
6         18  Monthly        NaN            NaN

In [14]:
df.loc[1:6,'MainBranch':'CompTotal']

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal
1,I am a developer by profession,No,NaN,19,NaN,NaN
2,I code primarily as a hobby,Yes,NaN,15,NaN,NaN
3,I am a developer by profession,Yes,25.0,18,NaN,NaN
4,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN
5,I am a developer by profession,No,NaN,14,NaN,NaN
6,I am a developer by profession,Yes,NaN,18,Monthly,NaN

In [18]:
df.Gender.value_counts()

Man                                                            46013
Woman                                                           3844
Non-binary, genderqueer, or gender non-conforming                385
Man;Non-binary, genderqueer, or gender non-conforming            121
Woman;Non-binary, genderqueer, or gender non-conforming           92
Woman;Man                                                         76
Woman;Man;Non-binary, genderqueer, or gender non-conforming       26
Name: Gender, dtype: int64

# Indexes

In [19]:
people = {'First':['Rajat','Rahul','Aryan'],
          'Last' :['Prakash','Kumar','Suman'],
           'Email':['Rajat.Prakash@company.com','Rahul.Kumar@company.com','Aryan.Suman@company.com']}

In [44]:
df_people = pd.DataFrame(people)
df_people

   First     Last                      Email
0  Rajat  Prakash  Rajat.Prakash@company.com
1  Rahul    Kumar    Rahul.Kumar@company.com
2  Aryan    Suman    Aryan.Suman@company.com

In [45]:
# Setting up a new index from a exisiting columns

df_people.set_index('Email',inplace=True)

In [46]:
df_people

                           First     Last
Email
Rajat.Prakash@company.com  Rajat  Prakash
Rahul.Kumar@company.com    Rahul    Kumar
Aryan.Suman@company.com    Aryan    Suman

In [49]:
df_people.reset_index(inplace=True)

In [51]:
df_people

                       Email  First     Last
0  Rajat.Prakash@company.com  Rajat  Prakash
1    Rahul.Kumar@company.com  Rahul    Kumar
2    Aryan.Suman@company.com  Aryan    Suman

In [53]:
df.head(2)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

In [55]:
df.set_index('Respondent',inplace = True)

df

KeyError: "None of ['Respondent'] are in the columns"

In [58]:
df
# Can Also set index while Reading the csv file 

df = pd.read_csv(r'C:\Users\rajat.prakash\Desktop\Remote_repo\Data\Data_Analysis\Stack Data\survey_results_public.csv',index_col = 'Respondent')

In [59]:
df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,...,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [61]:
df_schema = pd.read_csv(r'C:\Users\rajat.prakash\Desktop\Remote_repo\Data\Data_Analysis\Stack Data\survey_results_schema.csv')

df_schema.columns

Index(['Column', 'QuestionText'], dtype='object')

In [69]:
df_schema['Column']

df_schema.set_index('Column',inplace=True)

In [71]:
df_schema.loc['Hobbyist']

QuestionText    Do you code as a hobby?
Name: Hobbyist, dtype: object

In [75]:
df_schema.sort_index(inplace=True)
df_schema

                                                         QuestionText
Column
Age                 What is your age (in years)? If you prefer not...
Age1stCode          At what age did you write your first line of c...
CompFreq             Is that compensation weekly, monthly, or yearly?
CompTotal           What is your current total compensation (salar...
ConvertedComp       Salary converted to annual USD salaries using ...
...                                                               ...
WebframeWorkedWith  Which web frameworks have you done extensive d...
WelcomeChange       Compared to last year, how welcome do you feel...
WorkWeekHrs         On average, how many hours per week do you wor...
YearsCode           Including any education, how many years have y...
YearsCodePro        NOT including education, how many years have y...

[61 rows x 1 columns]